__pycache__/
.vscode/
venv/
venv_wn/
.ipynb_checkpoints/
*.pyc
tokens.txt
symbol_table.txt
lexical_errors.txt
input.txt
brief_results.txt
log.txt
PA2_Resources/
PA1_input_output_samples/
PA3_Resources/
parse_tree.txt
syntax_errors.txt
